<div class="register-wrapper">
    <div class="register-wrapper-bg-right">
        <img src="app/shared/register/assets/imgs/login-bg-right.svg" height="500"/>
    </div>
    <div class="register-wrapper-bg-left">
        <img src="app/shared/register/assets/imgs/login-bg-left.svg" height="500"/>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="register-box">
                    <div class="register-box-title">
                        <span>Sign up to find your space</span>
                    </div>
                    <div class="register-box-form">
                        <form class="app-margin-top-20">
                             <div class="form-group">
                                <input type="text" class="form-control" id="signup-fullname" placeholder="Fullname">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="signup-email" placeholder="Email address">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="signup-password" placeholder="Password">
                            </div>
                            <div class="form-group app-text-center">
                                <button type="button" class="btn btn-outline-primary">Sign up</button>
                            </div>
                            <div class="form-group register-box-signin-text app-text-center">
                                <span>Already have an account? <a routerLink="/signin">Sign in</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>