<div class="landing-wrapper">
    <div class="landing-top-section">
        <div class="landing-top-bg"></div>
        <div class="container">
            <div class="landing-search-container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 app-margin-bottom-20">
                        <div class="search-intro">
                            <h1 class="search-intro-title app-margin-bottom-20">Search your space and enjoy your time</h1>
                            <p>We ensure quality & support. People love us & we love them. Lorem ipsum dolor sit amet, consectetur bradipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elite.</p>
                            <div class="search-intro-service row app-margin-bottom-20">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <div class="service-icon"><span><i class="fa fa-snowflake-o"></i></span></div>
                                    <div class="service-title"><span>AC Rooms</span></div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <div class="service-icon"><span><i class="fa fa-cutlery"></i></span></div>
                                    <div class="service-title"><span>Food</span></div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <div class="service-icon"><span><i class="fa fa-wifi"></i></span></div>
                                    <div class="service-title"><span>Wifi</span></div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <div class="service-icon"><span><i class="fa fa-television"></i></span></div>
                                    <div class="service-title"><span>TV</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="container">
                            <div class="home-search-container shadow-2">
                                <form>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 app-no-right-left-padding">
                                            <div class="home-search-location-input">
                                                <select class="form-control custom-form-control">
                                                    <option>Select location</option>
                                                    <option>Chennai</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 app-no-right-left-padding">
                                            <div class="home-search-area-input">
                                                <div class="home-search-input-icons"><span><i class="fa fa-location-arrow"></i></span></div>
                                                <input type="text" class="form-control custom-form-control" id="exampleInputName2" placeholder="Search by area or locality">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 app-no-right-left-padding">
                                            <div class="home-search-type-input">
                                                <div class="home-search-input-icons"><span><i class="fa fa-home"></i></span></div>
                                                <select class="form-control custom-form-control">
                                                    <option>Select space type</option>
                                                    <option>Paying guest</option>
                                                    <option>Hostel</option>
                                                    <option>Rental flat</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 app-no-right-left-padding">
                                            <div class="home-search-button-input">
                                                <a role="button" class="btn btn-link search-link" routerLink="../products"><i class="fa fa-search"></i>&nbsp;Search</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="landing-about-section">

    </div>
    <div class="landing-feature-section">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 landing-feature-title-content">
                <h3 class="feature-main-title">Amazing features</h3>
                <p class="feature-main-sub-title text-muted">Tempora similique excepturi obcaecati, maiores nostrum esse illo in soluta at saepe perspiciatis eos quasi laudantium sunt ad quaerat?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="app-text-center">
                    <img class="landing-feature-section-image" src="app/customer/home/assets/imgs/feature-details.png"/>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row app-margin-bottom-20">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="media landing-feature-detail">
                            <a class="media-left" href="#">
                                <img class="media-object" src="app/customer/home/assets/imgs/location.svg" alt="Location" width="35">
                            </a>
                            <div class="media-body landing-feature-detail-content-holder">
                                <h4 class="media-heading landing-feature-detail-title">Location of house</h4>
                                <p class="landing-feature-detail-content">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row app-margin-bottom-20">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="media landing-feature-detail">
                            <a class="media-left" href="#">
                                <img class="media-object" src="app/customer/home/assets/imgs/support.svg" alt="Support" width="35">
                            </a>
                            <div class="media-body landing-feature-detail-content-holder">
                                <h4 class="media-heading landing-feature-detail-title">Dedicated support</h4>
                                <p class="landing-feature-detail-content">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row app-margin-bottom-20">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="media landing-feature-detail">
                            <a class="media-left" href="#">
                                <img class="media-object" src="app/customer/home/assets/imgs/details.svg" alt="Details" width="35">
                            </a>
                            <div class="media-body landing-feature-detail-content-holder">
                                <h4 class="media-heading landing-feature-detail-title">Detailed view of rooms</h4>
                                <p class="landing-feature-detail-content">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row app-margin-bottom-20">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="media landing-feature-detail">
                            <a class="media-left" href="#">
                                <img class="media-object" src="app/customer/home/assets/imgs/multiple.svg" alt="Multiple deals" width="35">
                            </a>
                            <div class="media-body landing-feature-detail-content-holder">
                                <h4 class="media-heading landing-feature-detail-title">Multiple deals</h4>
                                <p class="landing-feature-detail-content">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>