/* Text align */
.app-text-center { text-align: center !important;}
.app-text-left { text-align: left !important; }
.app-text-right { text-align: right !important; }

/* Margin */
.app-margin-top-5 { margin-top: 5px !important; }
.app-margin-top-10 { margin-top: 10px !important; }
.app-margin-top-15 { margin-top: 15px !important; }
.app-margin-top-20 { margin-top: 20px !important; }

.app-margin-bottom-5 { margin-bottom: 5px !important; }
.app-margin-bottom-10 { margin-bottom: 10px !important; }
.app-margin-bottom-15 { margin-bottom: 15px !important; }
.app-margin-bottom-20 { margin-bottom: 20px !important; }

.app-margin-right-5 { margin-right: 5px !important; }
.app-margin-right-10 { margin-right: 10px !important; }
.app-margin-right-15 { margin-right: 15px !important; }
.app-margin-right-20 { margin-right: 20px !important; }

/* Padding */
.app-no-right-left-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.app-no-top-bottom-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* Currency format */
.app-currency-unit {
  .currency {
    font-size: 18px;
  }
  .unit {
    font-size: 10px;
  }
}

/* Display format */
.app-display-inline-block {
  display: inline-block !important;
}

/* Shadows */
/**
 * Computes a top-shadow for a card effect.
 *
 * @param {Number} $depth - depth level
 *
 * @return {List}
 */
@function top-shadow($depth) {
  $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
  $blur: nth(1.5 3 10 14 19, $depth) * 4px;
  $color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));

  @return 0 $primary-offset $blur $color;
}

/**
 * Computes a bottom-shadow for a card effect.
 *
 * @param {Number} $depth - depth level
 *
 * @return {List}
 */
@function bottom-shadow($depth) {
  $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
  $blur: nth(1 3 3 5 6, $depth) * 4px;
  $color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

  @return 0 $primary-offset $blur $color;
}

/**
 * Gives a card depth effect.
 *
 * @param {Number} $depth - depth level (between 1 and 5)
 *
 * @link http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality Google Design
 *
 * @requires {function} top-shadow
 * @requires {function} bottom-shadow
 */
@mixin card($depth) {
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `card`.";
  } @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);  
  }
}

@for $i from 2 through 6 {
  .shadow-#{$i} {
    @include card($i - 1);
  }
}