/* Text align */
.app-text-center { text-align: center; }
.app-text-left { text-align: left; }
.app-text-right { text-align: right; }

/* Margin */
.app-margin-top-5 { margin-top: 5px; }
.app-margin-top-10 { margin-top: 10px; }
.app-margin-top-15 { margin-top: 15px; }
.app-margin-top-20 { margin-top: 20px; }

.app-margin-bottom-5 { margin-bottom: 5px; }
.app-margin-bottom-10 { margin-bottom: 10px; }
.app-margin-bottom-15 { margin-bottom: 15px; }
.app-margin-bottom-20 { margin-bottom: 20px; }