<div class="landing-wrapper">
    <div class="landing-top-section">
        <div class="container">
            <div class="landing-header">
                <nav class="navbar">
                    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
                    <div class="collapse navbar-toggleable-md" id="navbarResponsive">
                        <a class="navbar-brand landing-header-logo" href="#">Your space your time</a>
                        <ul class="nav navbar-nav landing-header-menu float-lg-right">
                            <li class="nav-item landing-header-menu-item">
                                <a class="nav-link landing-header-menu-link" href="#">About</a>
                            </li>
                            <li class="nav-item landing-header-menu-item">
                                <a class="nav-link landing-header-menu-link" href="#">Services</a>
                            </li>
                            <li class="nav-item landing-header-menu-item">
                                <a class="nav-link landing-header-menu-link" routerLink="/login" routerLinkActive="active">Login <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item landing-header-menu-item">
                                <a class="nav-link landing-header-menu-link" routerLink="/register" routerLinkActive="active">Register</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="landing-search-container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 app-margin-bottom-20">
                        <div class="search-box shadow-2">
                            <div class="search-box-title">
                                <h5>Search your space</h5>
                            </div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs search-box-categories" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#pg" role="tab">Paying guest</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#flat" role="tab">Rental flat</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content search-box-content">
                                <div class="tab-pane active" id="pg" role="tabpanel">
                                    <form>
                                        <div class="form-group">
                                            <label for="pg-location-select">Location</label>
                                            <select class="form-control form-control-sm" id="pg-location-select">
                                                <option>Select location</option>
                                                <option>Chennai</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="pg-area-input">Area</label>
                                            <input type="text" class="form-control form-control-sm" id="pg-area-input" placeholder="Enter area">
                                        </div>
                                        <div class="form-group">
                                            <label for="pg-location-select">Room for</label>
                                            <select class="form-control form-control-sm" id="pg-location-select">
                                                <option>Select gender</option>
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="pg-location-select">Sharing type</label>
                                            <select class="form-control form-control-sm" id="pg-location-select">
                                                <option>Select sharing type</option>
                                                <option>2 sharing</option>
                                                <option>3 sharing</option>
                                                <option>4 sharing</option>
                                            </select>
                                        </div>
                                        <div class="form-group app-text-center">
                                            <button type="button" class="btn btn-outline-primary">Search</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="flat" role="tabpanel">
                                    <form>
                                        <div class="form-group">
                                            <label for="pg-location-select">Location</label>
                                            <select class="form-control form-control-sm" id="pg-location-select">
                                                <option>Select location</option>
                                                <option>Chennai</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="pg-area-input">Area</label>
                                            <input type="text" class="form-control form-control-sm" id="pg-area-input" placeholder="Enter area">
                                        </div>
                                        <div class="form-group">
                                            <label for="pg-location-select">Room for</label>
                                            <select class="form-control form-control-sm" id="pg-location-select">
                                                <option>Select gender</option>
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="pg-location-select">Sharing type</label>
                                            <select class="form-control form-control-sm" id="pg-location-select">
                                                <option>Select sharing type</option>
                                                <option>2 sharing</option>
                                                <option>3 sharing</option>
                                                <option>4 sharing</option>
                                            </select>
                                        </div>
                                        <div class="form-group app-text-center">
                                            <button type="button" class="btn btn-outline-primary">Search</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 app-margin-bottom-20">
                        <div class="search-intro">
                            <h1 class="search-intro-title app-margin-bottom-20">Search your space and enjoy your time</h1>
                            <p>We ensure quality & support. People love us & we love them. Lorem ipsum dolor sit amet, consectetur bradipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elite.</p>
                            <div class="search-intro-service row app-margin-bottom-20">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <div class="service-icon"><span><i class="fa fa-snowflake-o"></i></span></div>
                                    <div class="service-title"><span>AC Rooms</span></div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <div class="service-icon"><span><i class="fa fa-cutlery"></i></span></div>
                                    <div class="service-title"><span>Food</span></div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <div class="service-icon"><span><i class="fa fa-wifi"></i></span></div>
                                    <div class="service-title"><span>Wifi</span></div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <div class="service-icon"><span><i class="fa fa-television"></i></span></div>
                                    <div class="service-title"><span>TV</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>