<div class="login-wrapper">
    <div class="login-wrapper-bg-right">
        <img src="app/shared/login/assets/imgs/login-bg-right.svg" height="500"/>
    </div>
    <div class="login-wrapper-bg-left">
        <img src="app/shared/login/assets/imgs/login-bg-left.svg" height="500"/>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="login-box">
                    <div class="login-box-title">
                        <span>Sign in to your account</span>
                    </div>
                    <div class="login-box-form">
                        <form class="app-margin-top-20">
                            <div class="form-group">
                                <input type="text" class="form-control" id="login-email" placeholder="Email address">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="login-password" placeholder="Password">
                            </div>
                            <div class="form-group login-box-additional-input clearfix">
                                <div class="pull-left">
                                    <label class="form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="login-remember" value="option1"> Remember me
                                    </label>
                                </div>
                                <div class="pull-right">
                                    <span><a href="#">Forgot password?</a></span>
                                </div>
                            </div>
                            <div class="form-group app-text-center">
                                <button type="button" class="btn btn-outline-primary">Sign in</button>
                            </div>
                            <div class="form-group login-box-signup-text app-text-center">
                                <span>Don't have an account? <a routerLink="/customer/signup">Sign up</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>