//@import 'vendor/bootstrap/bootstrap';
@import 'helpers/bootstrap-responsive-col-height';
@import 'helpers/helper-classes';

body,
html {
    width: 100%;
    height: 100%;
}

.app-wrapper {
    width: 100%;
    height: 100%;
}